@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


@font-face {
    font-family: "Game";
    src: url("../font/gameplay-webfont.woff");
    src: url("../font/gameplay-webfont.woff2");
  }
  
  button {
    color: white;
    background-color: red;
    font-size: large;
    padding: 1rem;
    font-family: 'Game';
    font-weight: bold;
    border-radius: 10px;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    border: none;
  }

  button:hover{
    background-color: white;
    color: red;
    cursor: pointer;
    border: 1px solid black;
  }
  
  .titre {
    text-align: center;
    color: #2aec03;
    font-family: "Game";
    font-weight: bold;
    font-size: 77px;
    text-shadow: 4px 4px rgb(155, 153, 153);
    height: 7vh;
  }
  .situation2 {
    display: flex;
    justify-content: center;
    font-style: italic;
  }
  .sous-titre {
    font-size: 42px;
    width: fit-content;
    background-color: #2aec03;
    padding: 10px 20px 10px 20px;
    color: #fff;
    box-shadow: 10px 10px grey;
    border-radius: 3px;
  }
  
  .question{
      
      text-align: center;
      text-shadow: #262626 1px 1px;
      color: rgb(117, 250, 9);
      font-size: 25px;
      font-family: 'Courgette', cursive;
      /* text-shadow: black 0.1em 0.1em 0.2em; */
      animation-duration: 3s;
      animation-name: slidein;
      
     
  }
  
  .icones{
  
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    
  }
     
   .ligne4{
  
      display: flex;
      justify-content: center;
      
      
  }
  
  .center{
  
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1024px;
      margin: auto;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .icones a{
  
      border-left: 3px solid black ;
      border-bottom: 3px solid black;
      flex: 1;
      border-radius: 4px;
    
  }
  
  .icones a:last-child {
  
      border-right: 3px solid black;
  }
  
  .icones a img{
  
      width: 100%;
      height: auto;
      transition: transform 0.5s;
      filter: grayscale(0%);
      
    
      
  }

  .icones a img:hover{
    filter: none;
  }
  
  .icones a:hover {
      background-color: #D8706B;
      
      
      
      
  }
  
  .icone:hover{
  
    transform: scale(1.1) rotate(10deg);
  }
  
  
@keyframes slidein {
  from {
    margin-left: 100%;
   width: 300%;
        }
      
  to {
    margin-left: 0%;
    width: 100%;
  }
  
}

.video{
  display: flex;
  justify-content: center;
  border: solid black 1px;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  border-radius: 3px;
  }
                  
.video iframe, .video video{
        
    position: absolute;
    width: 100%;
    height: 100%;
}
              
.conteneur{
        
    width: 100%; 
    }     

  
  
.menu {
  position: fixed;
  top: 35px;
  right: 50px;
}  
  
ul {
    display: flex;
}
  
ul li {
    list-style: none;
}
  
ul li a {
    width: 80px;
    height: 80px;
    background-color: rgb(238, 232, 232);
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 4px solid rgb(0, 0, 0);
    z-index: 1;

}
  
ul li a .icon {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
    
}
  
ul li a:hover .icon {
color: #fff;
transform: rotateY(360deg);

}
  
ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
  
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before {
  background: red;
}

ul li:nth-child(2) a:before {
  background: green;
}

ul li:nth-child(3) a:before {
  background: #0077b5;
}

ul li:nth-child(4) a:before {
  background: #dd4b39;
}
@media screen and (max-width: 460px) {
  .titre {
      display: none;
  }
}